body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: white;
    text-align: center;
}

#display {
    text-align: right;
    width: 92%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
    background-color: #eee;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}
